.app_root {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background: rgb(22, 22, 22);
  overflow-x: hidden;
  overflow-y: auto;
}

.loading {
  color: tomato;
  font-size: 1.4rem;
  text-align: center;
  font-weight: 600;
}

.toolbar {
  min-height: 4rem;
  padding: 0.5rem 1rem;
  background: rgb(41, 41, 41);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  color: #fff;
}

.file_upload_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.file_input_wrapper {
  /* font-size: 1rem; */
  align-self: center;
  position: relative;
  overflow: hidden;
  background: crimson;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
}

.file_input_wrapper span {
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-transform: capitalize;
  color: #fff;
}

.file_input_wrapper input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.settings_wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.settings_wrapper div {
  display: flex;
  align-items: center;
}

.settings_wrapper div p {
  margin-right: 0.5rem;
}

.settings_wrapper div input {
  border: 0;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 0.25rem;
  width: 3rem;
  font-size: 1.1rem;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  background: rgb(255, 210, 152);
}

.btn_convert {
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  color: #fff;
  text-transform: lowercase;
  background: green;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  margin-left: auto;
}

.btn_convert:hover {
  background: #006b00;
}

.body {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  /* justify-content: space-between; */
  /* width: 100%; */
  overflow: hidden;
}

.body > * {
  flex: 1;
  height: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.right {
  overflow-y: auto;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.input_video {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 480px;
  border-radius: 0.5rem;
}

.result_wrapper {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.gif {
  margin-top: 0.5rem;
  max-width: 480px;
  border-radius: 0.5rem;
}

.btn_download {
  border: 0;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-radius: 0.25rem;
  color: #fff;
  text-transform: lowercase;
  background: green;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  align-self: flex-end;
  margin-top: 0.5rem;
  text-decoration: none;
}

.btn_download:hover {
  background: #006b00;
}

@media (min-width: 320px) and (max-width: 480px) {
  .app_root {
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: auto;
  }

  .toolbar {
    flex-direction: column;
    background: transparent;
  }

  .btn_convert {
    margin-right: auto;
  }

  .settings_wrapper {
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90%;
  }

  .settings_wrapper div {
    justify-content: space-evenly;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    /* background: coral; */
  }

  .settings_wrapper div p {
    flex: 1;
  }

  .body {
    flex-direction: column;
    justify-content: center;
  }

  .left {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .input_wrapper,
  .result_wrapper {
    padding: 0.5rem 1rem;
  }

  .right {
    margin-top: 1rem;
    max-height: 300px;
  }

  .btn_download {
    align-self: center;
  }

  .input_video,
  .gif {
    max-width: 100%;
  }

  .loading {
    font-size: 1.2rem;
  }
}
